<!--
<div class="row" ng-if="vm.searchResult.needNamePedigrees.length != 0">
    <div class="col-lg-9">
        <div align="right">
            <button type="submit" class="btn btn-default" ng-click="vm.selectAll(false)">Deselect All
            </button>
            <button type="submit" class="btn btn-default" ng-click="vm.selectAll(true)">Select All
            </button>
            <button type="submit" class="btn btn-primary" ng-click="vm.saveInbredDetails()">Save
            </button>
        </div>
    </div>
</div>
<div class="row" ng-repeat="entry in vm.searchResult.needNamePedigrees">
    <div class="col-lg-9">
        <div class="bs-callout bs-callout-default-override">
            <h4>{{entry.inbredName}}
                <i class="custom-check-box pull-right"
                   ng-class=" entry.checked? 'fa fa-check-circle' : 'fa fa-circle-o'"
                   ng-click="entry.checked = !entry.checked" ng-show="!entry.pedigreeNamed"></i>
            </h4>
            <div class="table table-responsive">
                <table class="table table-borderless">
                    <tr>
                        <th>Base Manufacturing Name:</th>
                        <th>Herbicide Code:</th>
                        <th>Trait Code:</th>
                        <th>Commercial Trait:</th>
                        <th>Trait Version:</th>
                        <th>Manufacturing Code:</th>
                    </tr>
                    <tr>
                        <td>{{entry.baseManufacturingCode}}</td>
                        <td>{{entry.herbicideCode}}</td>
                        <td>{{entry.trait}}</td>
                        <td>{{entry.commercialTrait}}</td>
                        <td>{{entry.traitVersion}}</td>
                        <td>{{entry.manufacturingCode}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>-->
